import:
  - orgs/{{ .namespace }}/_defaults
  - mixins/tenant/core
  - mixins/region/global
  - mixins/stage/audit
  - catalog/account-classes/audit
  - catalog/tfstate-backend/defaults
  - catalog/iam-deployment-roles/target/defaults

vars:
  account_id: "{{ .audit_account_id }}"
  account_name: audit
