import:
  - orgs/{{ .namespace }}/_defaults
  - mixins/tenant/aft
  - mixins/region/global
  - mixins/stage/mgmt
  - catalog/account-classes/aft-mgmt
  - catalog/iam-deployment-roles/target/defaults
  # aft-mgmt only renders for separate-topology - it's the central stack.
  - catalog/tfstate-backend-central/defaults
  - catalog/iam-deployment-roles/central/defaults
  - catalog/github-oidc-provider/defaults
  - catalog/controltower-event-bridge/defaults

vars:
  account_id: "{{ .aft_mgmt_account_id }}"
  account_name: aft-mgmt
